.wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-top: 1rem;
    width: 100%;
    min-height: 70vh;
    gap: 1%;
    padding: 0 1rem;
  
    div{
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      border: 1px solid rgb(212, 203, 203);
      width: 100%;
      padding: 1%;
      margin: .2rem 0;
      background-color: lightgray;
     
      @media (min-width: 500px){
        flex-basis: calc(94 / 2 * 1%);;
      } 
      @media (min-width: 900px){
        flex-basis: calc(94 / 5 * 1%);;
      }   
        h4 {
          margin: 1rem auto;
          opacity: .7;
        }
        article{
          background-color: white;
          border-radius: 5px;
          margin: .2rem 0;
          padding: 1rem;
          width: 100%;
          .data {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            border-color: rgb(128, 128, 129);
            width: 100%;
            flex-direction: initial;
            flex-basis: 100%;
            background-color: white;
            border: none;
  
            .navigation {
              display: flex;
              justify-content: flex-end;
              border: none;
              flex-direction: initial;
              padding: 0;
              margin: 0;
              background-color: white;
            }
            
          }
          p{
            margin-left: .2rem;
            flex-basis: 100%;
            div {
              background-color: white;
              border: none;
            }
          }
        }
        
      
    }
  }